#!/usr/bin/perl

use strict;
use warnings;
use 5.010;
use Time::Piece;
use Sys::Hostname;

my $host = hostname;

if (! -d "/etc/openvpn") {
	`zabbix_sender -s $host -k log.check -o 1 -c /etc/zabbix/zabbix_agentd.conf`;
}

my $format = '%c';
my $start = localtime - 60*{{ lookback_interval }};
my $end   = localtime;

my $counter = 0;
my @files = glob("{{ log_files }}");

foreach my $filename(@files) {
	open(my $fh, '<:encoding(UTF-8)', $filename)
	  or die "Could not open file '$filename' $!";

	chomp(my @lines = <DATA>);

	foreach my $row (<$fh>) {
		chomp $row;	
		my ($timestamp) = $row =~ /(^\w+\s+\w+\s+\d+\s+\d+:\d+:\d+\s+\d+)/;
		# my ($timestamp) = $row =~ /(^\w+\s+\d+\s+\d+:\d+:\d+)/;
		my $t = Time::Piece->strptime($timestamp, $format);
		foreach my $x (@lines) {
			next if $x =~ /^$/;
			$row =~ m/\Q$x/ && $t >= $start && $t <= $end && ($counter ++);
		}
	}
}
my $result = `zabbix_sender -s $host -k log.check -o $counter -c /etc/zabbix/zabbix_agentd.conf`;

__DATA__
{% for item in bad_logs %}
{{ item }}  
{% endfor %}
